- var nav = ['Главная', 'О нас', {title: 'Меню', submenu: ['Menu1', 'Menu2', 'Menu3']}, 'Блог', 'Контакты'];

- var breadcrumbs = ['Меню', 'Вторые блюда', 'С рыбой'];


//- MENU
- var menu = {title: 'Теплый салат с лососем', rating: 4, price: '45 грн.', img: 'img/WarmWildAlaskaSalmonNicoise.jpg'};

- menu.composition = [{name: 'белки', color: '#6DD9D7', percent: 60}, {name: 'жиры', color: '#FFF65B', percent: 10}, {name: 'углеводы', color: '#FFCC66', percent: 20}];

- menu.statistics = {order: 167, wish: 248, reviews: 16};

- menu.desc = 'Филе нежного аляскинского лосося с молодым картофелем и стручками молодой, очищенной зеленой фасоли, приправленное оливковым маслом и лимонным соком.';


//- REVIEWS
- var reviewsTitle = 'Отзывы наших клиентов';

- var reviews = [];

- reviews.push({text: 'Пробовал, не понравилось. Утверждаю, что средеземноморский карп с сыром подошел бы к такому гарниру гораздо лучше. Кушать в офисе это блюдо неудобно, теплая еда распостраняет характерный запах. Успехов!', rating: 2, name: 'Вениамин Кислый', img: 'img/Слой-12.png'});
- reviews.push({text: 'Это просто бесподобная вещь! Люди, пробуйте не раздумывая, такую вкуснотищу (и тем более по такой цене) вы не найдете не в одном ресторане города! Всегда беру максимальную порцию - от такой еды не поправишься ))', rating: 5, name: 'Марта Весенняя', img: 'img/Слой-11.png'});
- reviews.push({text: 'Привет Lifestylle и его завсегдатаи, я постоянный клиент Вашей кухни и теплый салат с лососем одно из постоянных блюд моего рациона. Его единственный недостаток - это оливки, может, есть смысл убрать их?', rating: 4, name: 'Карина Эссер', img: 'img/Слой-13.jpg', pic: true});
- reviews.push({text: 'Это просто бесподобная вещь! Люди, пробуйте не раздумывая, такую вкуснотищу (и тем более по такой цене) вы не найдете не в одном ресторане города! Всегда беру максимальную порцию - от такой еды не поправишься ))', rating: 5, name: 'Марта Весенняя', img: 'img/Слой-11.png'});


//- FOOTER
- var footerMenus = [];

- footerMenus.push({title: 'Информация', items: ['Контакты', 'Доставка', 'Служба поддержки', 'Условия и сроки', 'О нас']});
- footerMenus.push({title: 'Дополнительно', items: ['Новинки', 'Топ продаж', 'Подарочные сертификаты', 'Блог']});
- footerMenus.push({title: 'Личный кабинет', items: ['Личный кабинет', 'История заказов', 'Вишлист', 'Бонусы и скидки']});