#footer {
	// margin-top: 30px;
}

.f-content {
	border-top: 3px solid #00BF00;
	padding-top: 25px;
	padding-bottom: 60px;
}

.f-title {
	margin-bottom: 15px;
	color: #4d76a1;
	font: bold 18px $font-secondary;
}

.f-nav {
	padding: 0;
	list-style: none;
}

.f-nav__item {
	color: #727171;
	line-height: 2.143;
	font-size: 14px;
	&:hover, &:focus {
		color: darken(#727171, 50%);
		text-decoration: none;
	}
}

.copyright {
	padding: 18px 0 20px;
	border-top: 3px solid #00BF00;
	color: #4b939c;
	font-size: 12px;
}